{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add New {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="id">Name</label>
            <input type="text" name="id"
                   placeholder="Product ID">
            </input>
        </p>
        <p>
            <label for="name">Name</label>
            <input type="text" name="name"
                   placeholder="Product name">
            </input>
        </p>

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}